<h1 class="current-category"><%= params[:category] %></h1>

<div class="row">

  <% @entries.each do |entry|%>
    <div class="col-md-1">
      <a href="/entries/<%= entry.id %>">
        <%= image_tag entry.entry_img.url(:entry_index), class: "entry" %>
      </a>
    </div>
  <% end %>

</div>


