<h1>About</h1>


<p>This is an app for people who don't know what they should or shouldn't eat,
  because certain foods make them sick. Different doctors tell them different
  things, different food intolerance tests give them different results, and they
  realize that it's up to them to find the answers. Users can enter the foods
  they eat and select how they feel on a certain day. Then they can compare and
  contrast. It's all in the process of elimination. All the information is stored
  in data cards, and it can be accessed by clicking on the card. Users can choose
  images for the cards, to help them distinguish among the five categories (feelings):
  horrible, bad, alright, good, and great.

</p>

<img class = "about-image" src="http://whatislyme.com/wp-content/uploads/2014/10/histamine-intolerance.jpg" alt="Histamine Foods">
<img class = "about-image2" src="http://www.imd-berlin.de/fileadmin/_processed_/csm_Histaminintoleranz_Abb2_englisch_NS-Mappe_e45e280573.png" alt="Histamine Symptoms">



